.DS_store
.idea
.vscode
.env
database.sql
Config/apache/ssl/*
!Config/apache/ssl/.gitkeep
Database/*
!Database/.gitkeep
Project/*
!Project/.gitkeep
Search/*
!Search/.gitkeep
App/composer.json
App/composer.lock
App/config/*
!App/config/.gitkeep
App/packages/*
!App/packages/.gitkeep
App/public/*
!App/public/robots.txt
App/var/*
!App/var/.gitkeep
App/vendor/*
!App/vendor/.gitkeep