.DS_store
.idea
.vscode
.env
database.sql
tablebase.sql
App/composer.json
App/composer.lock
App/config/*
!App/config/.gitkeep
App/packages/*
!App/packages/.gitkeep
App/public/*
!App/public/robots.txt
App/var/*
!App/var/.gitkeep
App/vendor/*
!App/vendor/.gitkeep
Config/httpd/ssl/*
!Config/httpd/ssl/.gitkeep
Config/httpd-dav/ssl/*
!Config/httpd-dav/ssl/.gitkeep
Config/httpd-dav/auth/*
!Config/httpd-dav/auth/.gitkeep
Database/*
!Database/.gitkeep
Files/*
!Files/.gitkeep
Graph/*
!Graph/.gitkeep
Search/*
!Search/.gitkeep
Table/*
!Table/.gitkeep
Tablebase/*
!Tablebase/.gitkeep