# This file is part of the CHF Container environment.
#
# For the full copyright and license information, please read the
# LICENSE.txt file that was distributed with this source code.

services:

  server:
    build:
      context: .
      dockerfile: ./Config/httpd/Containerfile
    image: localhost/digicademy/chf_server
    environment:
      PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
      TZ: ${TIMEZONE}
      HOSTNAME: ${HOSTNAME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      TYPO3_CONTEXT: ${APP_TYPO3_CONTEXT}
    container_name: ${COMPOSE_PROJECT_NAME}_server
    restart: always
    depends_on:
      - app
      - database
      - search
      - mail
    ports:
      - ${SERVER_HTTP_PORT}:80
      - ${SERVER_HTTPS_PORT}:443
    extra_hosts:
      - ${HOSTNAME}:127.0.0.1
    volumes:
      - ./Config/httpd/httpd.vhost.conf:/usr/local/apache2/conf/extra/httpd.vhost.conf:ro,Z
      - ./Config/httpd/ssl:/usr/local/apache2/ssl:ro,Z
      - ./App:/usr/local/apache2/htdocs:rw,z
    networks:
      - app

  app:
    build:
      context: .
      dockerfile: ./Config/php/Containerfile
    image: localhost/digicademy/chf_app
    environment:
      TZ: ${TIMEZONE}
      HOSTNAME: ${HOSTNAME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      PHP_DISPLAY_ERRORS: ${APP_PHP_DISPLAY_ERRORS}
      PHP_HTML_ERRORS: ${APP_PHP_HTML_ERRORS}
      PHP_LOG_ERRORS: ${APP_PHP_LOG_ERRORS}
      PHP_MEMORY_LIMIT: ${APP_PHP_MEMORY_LIMIT}
      PHP_MAX_EXECUTION_TIME: ${APP_PHP_MAX_EXECUTION_TIME}
      PHP_UPLOAD_MAX_FILESIZE: ${APP_PHP_UPLOAD_MAX_FILESIZE}
      PHP_POST_MAX_SIZE: ${APP_PHP_POST_MAX_SIZE}
      PHP_ALLOW_URL_FOPEN: ${APP_PHP_ALLOW_URL_FOPEN}
      TYPO3_CONTEXT: ${APP_TYPO3_CONTEXT}
      TYPO3_DB_DRIVER: ${APP_TYPO3_DB_DRIVER}
      TYPO3_DB_DBNAME: ${DATABASE_DATABASE}
      TYPO3_DB_USERNAME: ${DATABASE_USER}
      TYPO3_DB_PASSWORD: ${DATABASE_PASSWORD}
      TYPO3_DB_PORT: ${APP_TYPO3_DB_PORT}
      TYPO3_DB_HOST: ${COMPOSE_PROJECT_NAME}_database
      TYPO3_SETUP_ADMIN_EMAIL: ${APP_TYPO3_SETUP_ADMIN_EMAIL}
      TYPO3_SETUP_ADMIN_USERNAME: ${APP_TYPO3_SETUP_ADMIN_USERNAME}
      TYPO3_SETUP_ADMIN_PASSWORD: ${APP_TYPO3_SETUP_ADMIN_PASSWORD}
      TYPO3_SETUP_CREATE_SITE: ${APP_TYPO3_SETUP_CREATE_SITE}
      TYPO3_PROJECT_NAME: ${APP_TYPO3_PROJECT_NAME}
      TYPO3_SERVER_TYPE: ${APP_TYPO3_SERVER_TYPE}
    userns_mode: "keep-id:uid=33,gid=33"
    container_name: ${COMPOSE_PROJECT_NAME}_app
    restart: always
    depends_on:
      - database
      - search
      - mail
    volumes:
      - ./Config/php/php.ini:/usr/local/etc/php/conf.d/x-php-custom-chf.ini:ro,Z
      - ./App:/var/www/html:rw,z
      - ./Files:/mnt/files:rw,z
    networks:
      - app
      - graph

  database:
    image: docker.io/library/mariadb:11
    environment:
      TZ: ${TIMEZONE}
      MARIADB_DATABASE: ${DATABASE_DATABASE}
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MARIADB_AUTO_UPGRADE: ${DATABASE_AUTO_UPGRADE}
    userns_mode: "keep-id:uid=999,gid=999"
    container_name: ${COMPOSE_PROJECT_NAME}_database
    restart: always
    command:
      - --sql_mode=NO_ENGINE_SUBSTITUTION
    volumes:
      - ./Config/mariadb:/etc/mysql/conf.d:ro,z
      - ./Database:/var/lib/mysql:rw,Z
    networks:
      - app
      - inspect

  search:
    image: docker.io/getmeili/meilisearch:v1
    environment:
      TZ: ${TIMEZONE}
      MEILI_ENV: ${SEARCH_ENV}
      MEILI_HTTP_ADDR: ${SEARCH_HTTP_ADDR}
      MEILI_MASTER_KEY: ${SEARCH_MASTER_KEY}
      MEILI_NO_ANALYTICS: ${SEARCH_NO_ANALYTICS}
      MEILI_LOG_LEVEL: ${SEARCH_LOG_LEVEL}
    depends_on:
      - database
    container_name: ${COMPOSE_PROJECT_NAME}_search
    restart: always
    ports:
      - ${SEARCH_PORT}:7700
    volumes:
      - ./Search:/meili_data:rw,Z
    networks:
      - app

  mail:
    image: docker.io/juanluisbaptiste/postfix:latest
    environment:
      TZ: ${TIMEZONE}
      SERVER_HOSTNAME: ${HOSTNAME}
      SMTP_SERVER: ${MAIL_SERVER}
      SMTP_PORT: ${MAIL_SERVER_PORT}
      SMTP_USERNAME: ${MAIL_USER}
      SMTP_PASSWORD: ${MAIL_PASSWORD}
    container_name: ${COMPOSE_PROJECT_NAME}_mail
    restart: always
    expose:
      - 25
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app
  
  graph:
    image: ghcr.io/oxigraph/oxigraph:latest
    environment:
      TZ: ${TIMEZONE}
    container_name: ${COMPOSE_PROJECT_NAME}_graph
    restart: always
    ports:
      - ${GRAPH_PORT}:7878
    volumes:
      - ./Graph:/data:rw,Z
    profiles:
      - graph
    networks:
      - graph

  inspect:
    image: docker.io/phpmyadmin/phpmyadmin
    environment:
      TZ: ${TIMEZONE}
      PMA_HOST: ${COMPOSE_PROJECT_NAME}_database
    depends_on:
      - database
    container_name: ${COMPOSE_PROJECT_NAME}_inspect
    ports:
      - ${INSPECT_PORT}:80
    profiles:
      - inspect
    networks:
      - inspect

  table:
    image: docker.io/nocodb/nocodb:latest
    environment:
      TZ: ${TIMEZONE}
      NC_DB: mysql2://${COMPOSE_PROJECT_NAME}_tablebase:3306?u=${TABLEBASE_USER}&p=${TABLEBASE_PASSWORD}&d=${TABLEBASE_DATABASE}
      NC_PUBLIC_URL: ${TABLE_PUBLIC_URL}
      NC_ADMIN_EMAIL: ${TABLE_ADMIN_EMAIL}
      NC_ADMIN_PASSWORD: ${TABLE_ADMIN_PASSWORD}
      NC_AUTH_JWT_SECRET: ${TABLE_AUTH_JWT_SECRET}
      NC_SMTP_FROM: ${TABLE_SMTP_FROM}
      NC_SMTP_HOST: ${TABLE_SMTP_HOST}
      NC_SMTP_PORT: ${TABLE_SMTP_PORT}
      NC_SMTP_USERNAME: ${TABLE_SMTP_USERNAME}
      NC_SMTP_PASSWORD: ${TABLE_SMTP_PASSWORD}
      NC_SMTP_SECURE: ${TABLE_SMTP_SECURE}
      NC_INVITE_ONLY_SIGNUP: ${TABLE_INVITE_ONLY_SIGNUP}
      NC_DISABLE_TELE: ${TABLE_DISABLE_TELE}
      NC_DISABLE_SUPPORT_CHAT: ${TABLE_DISABLE_SUPPORT_CHAT}
    depends_on:
      - tablebase
    container_name: ${COMPOSE_PROJECT_NAME}_table
    restart: always
    ports:
      - ${TABLE_PORT}:8080
    volumes:
      - ./Table:/usr/app/data:rw,Z
    profiles:
      - table
    networks:
      - table

  tablebase:
    image: docker.io/library/mariadb:11
    environment:
      TZ: ${TIMEZONE}
      MARIADB_DATABASE: ${TABLEBASE_DATABASE}
      MARIADB_USER: ${TABLEBASE_USER}
      MARIADB_PASSWORD: ${TABLEBASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${TABLEBASE_ROOT_PASSWORD}
      MARIADB_AUTO_UPGRADE: ${TABLEBASE_AUTO_UPGRADE}
    userns_mode: "keep-id:uid=999,gid=999"
    container_name: ${COMPOSE_PROJECT_NAME}_tablebase
    restart: always
    command:
      - --sql_mode=NO_ENGINE_SUBSTITUTION
    volumes:
      - ./Config/mariadb:/etc/mysql/conf.d:ro,z
      - ./Tablebase:/var/lib/mysql:rw,Z
    profiles:
      - table
    networks:
      - table

  files:
    build:
      context: .
      dockerfile: ./Config/httpd-dav/Containerfile
    image: localhost/digicademy/chf_files
    environment:
      PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
      TZ: ${TIMEZONE}
      HOSTNAME: ${HOSTNAME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
    container_name: ${COMPOSE_PROJECT_NAME}_files
    restart: always
    ports:
      - ${FILES_HTTP_PORT}:80
      - ${FILES_HTTPS_PORT}:443
    extra_hosts:
      - ${HOSTNAME}:127.0.0.1
    volumes:
      - ./Config/httpd-dav/httpd-dav.vhost.conf:/usr/local/apache2/conf/extra/httpd-dav.vhost.conf:ro,Z
      - ./Config/httpd-dav/ssl:/usr/local/apache2/ssl:ro,Z
      - ./Config/httpd-dav/auth/.htpasswd:/usr/local/apache2/htdocs/.htpasswd:ro,Z
      - ./Files:/usr/local/apache2/htdocs/files:rw,z
    profiles:
      - files
    networks:
      - files

networks:
  app:
  graph:
  inspect:
  table:
  files:
