# More information about this file:
# https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/GeneralConventions/FileStructure.html#settings-cfg

[general]

project   = CHF Container
version   = 0.9
release   = 0.9.0
copyright = since 2023 by Jonatan Jalle Steller and CHF Container contributors

[html_theme_options]

# "Edit on GitHub" button
github_repository = digicademy-chf/chf_container
github_branch     = main

# Footer links
project_contact     = mailto:jonatan.steller@adwmainz.de
project_repository  = https://github.com/digicademy-chf/chf_container
project_issues      = https://github.com/digicademy-chf/chf_container/issues
project_discussions = https://github.com/orgs/digicademy-chf/discussions

use_opensearch      = 

[intersphinx_mapping]
